# IDE settings
.idea/
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db